/* ============================= */
/* GOOGLE FONT */
/* ============================= */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;600;700;800&display=swap');

/* ============================= */
/* ROOT VARIABLES */
/* ============================= */

:root { 

  --dark-clr:#081120; 
  --nav-link-clr:#e6e6e6;
  --blue-text-clr:#b4bcd0;
  --dark-blue-clr:#0047b3;
  --blue-clr:#005ce6;
  --light-clr:#0073e6;
  --border-clr:#003366;
  --p-border-clr:#e6ffff;
  --p-bg-clr:#93c5fd;

  --dark:#030712;
  --card:#0f172a;
  --border:#1e293b;
  --blue:#3b82f6;
  --text:#ffffff;
  --muted:#94a3b8;

  --des-clr:#cbd5e1;
  --row-clr:rgba(59,130,246,0.15);
  --cart-clr:rgba(255,255,255,0.03);
  --cart-border-clr:rgba(255,255,255,0.06);
  --addcart-shafow-clr:rgba(37,99,235,0.3);
  --addcart-shadow-hover-btn:rgba(37,99,235,0.45);  
}

/* ============================= */
/* GLOBAL RESET */
/* ============================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Plus Jakarta Sans", sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background: black;
}

/* ============================= */
/* NAVBAR */
/* ============================= */

.navbar{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    position:fixed;
    top:0;
    left:0;
    background:var(--dark-clr);
    border-bottom:1px solid rgba(255,255,255,0.08);
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:700;
    color:white;
}

.logo span{
    margin-right:8px;
    background:var(--blue-clr);
    padding:5px;
    border-radius:5px;
}

.nav-links{
    list-style:none;
    display:flex;
    align-items:center;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:var(--nav-link-clr);
    font-size:15px;
    transition:0.3s;
}

.nav-links a:hover{
    color:white;
}

.nav-links a.active{
    color:white;
}

/* MENU ICON */

.nav-links .icon{
    display:none;
}
/* ============================= */
/* BACKBTN */
/* ============================= */
.back-btn {
    display:inline-flex;
    align-items:center;
    gap:18px;
    margin: 100px 20px 10px ;
    padding:10px 15px;
    background: rgba(59,130,246,0.15);
    color: var(--p-bg-clr);
    font-size: 15px;
    text-decoration:none;
    border:none;
    border-radius:6px;
    cursor:pointer;
}
/* ============================= */
/* FLEXCONTAINER */
/* ============================= */
.flex-container{
    display:flex;
    gap:40px;
    margin:120px auto 40px;
    background: rgba(15,23,42,0.95);

    max-width:1200px;

    padding:30px;
    border-radius:25px;

    border:1px solid rgba(255,255,255,0.06);

    box-shadow:
    0 10px 30px rgba(0,0,0,0.4);

    transition:0.3s;
}
.flex-container:hover{
    transform: translateY(-5px);
}
.flex-container > div {
  margin: 10px;
}
img{
    width:100%;
    height:auto;
    max-height:500px;
    object-fit:cover;
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.08);
    transition:0.4s;
}
img:hover{
    transform:scale(1.02);
}
.des{
    line-height: 1.6;
    flex: 1;
}
.p-class{
    display:inline-block;
    background: rgba(59,130,246,0.15);
    color: var(--p-bg-clr);
    padding:8px 16px;
    border:1px solid rgba(59,130,246,0.3);
    border-radius:30px;
    font-size:14px;
    font-weight:600;
}
.h2{
    padding-top:18px;
    font-size:42px;
    font-weight:800;
    color:white;
    line-height:1.2;
}

.price{
    font-size:42px;
    font-weight:800;
    background: linear-gradient(90deg,#60a5fa,#2563eb);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:20px 0;
}

.h5{
    font-size:16px;
    font-weight:700;
    color:#ffffff;
    margin-top:25px;
    margin-bottom:12px;
    letter-spacing:0.3px;
    display:flex;
    align-items:center;
    gap:8px;
}

.des-1{
    font-size:15px;
    color:var(--des-clr);
    line-height:1.9;
    max-width:600px;
    padding:18px;
    border-radius:14px;

}
.h5::before{
    content:"";
    width:4px;
    height:18px;
    background:var(--blue-clr);
    border-radius:10px;
}
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
.row{
    background: var(--row-clr);
    color:var(--p-bg-clr);
    border-radius: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.cart-box{
    display:flex;
    align-items:center;
    gap:15px;
    padding:12px 18px;
    margin-top:25px;
    margin-bottom:25px;
    border-radius:12px;
    background: var(--cart-clr);
    border:1px solid var(--cart-border-clr);
    width:max-content;
}

.cart-box button{
    width:38px;
    height:38px;
    border:none;
    background: linear-gradient(
    135deg,
    #2563eb,
    #1d4ed8
    );
    color:#fff;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}
.cart-box button:hover{
    transform:scale(1.08);
}

.quantity{
    min-width:20px;
    text-align:center;
    font-weight:bold;
    font-size:16px;
    color: var(--muted);
}
.addcart{
    background: linear-gradient(
    135deg,
    #2563eb,
    #1d4ed8
    );
    border:none;
    border-radius:14px;
    padding:18px;
    width:100%;
    color:white;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    transition:0.3s;
    box-shadow:
    0 10px 25px var(--addcart-shafow-clr);
}
.addcart i{
   margin-right:10px;
}
.addcart:hover{
    transform:translateY(-3px);
    box-shadow:
    0 15px 30px var(--addcart-shadow-hover-btn);
}
/* ============================= */
/* FOOTER */
/* ============================= */

.footer-bottom {
  background: var(--dark);
  color: var(--blue-text-clr);
  text-align: center;
  padding: 15px;
  font-size: 14px;
  border-top: 1px solid #3a3f44;
}
/* ============================= */
/* RESPONSIVE */
/* ============================= */
@media (max-width: 600px) {

  .flex-container {
    flex-direction: column;
    margin: 90px 15px 30px;
    padding: 15px;
  }

  .h2 {
    font-size: 24px;
  }

  .price {
    font-size: 26px;
  }

  .addcart {
    font-size: 16px;
    padding: 12px;
  }

  .back-btn {
    margin: 90px 15px 10px;
    font-size: 14px;
  }
  .footer-bottom {
    font-size: 12px;
  }
}

@media screen and (max-width:768px){

    .navbar{
        padding:20px;
    }

    .nav-links{
        gap:20px;
    }

    .nav-links li:not(.icon){
        display:none;
    }

    .nav-links .icon{
        display:block;
    }

    .nav-links.responsive{
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background:#081120;
        display:flex;
        flex-direction:column;
        gap:25px;
        padding:25px;
    }

    .nav-links.responsive li{
        display:block;
    }

    .flex-container{
        flex-direction:column;
        margin:100px 15px 30px;
        padding:20px;
    }

    .h2{
        font-size:30px;
    }

    .price{
        font-size:32px;
    }

    .des-1{
        font-size:14px;
    }

    .addcart{
        font-size:16px;
        padding:15px;
    }

}
/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
  .flex-container {
    flex-direction: column;
  }
}

@media screen and (max-width:900px){

    .navbar{
        padding:20px;
    }

    .nav-links{
        gap:20px;
    }

    .nav-links li:not(.icon){
        display:none;
    }

    .nav-links .icon{
        display:block;
    }

    .nav-links.responsive{
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background:#081120;
        display:flex;
        flex-direction:column;
        gap:25px;
        padding:25px;
    }

    .nav-links.responsive li{
        display:block;
    }
}  